doctype html
head
  title 404 Not Found
  style.
    body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    }
    h1 {
    color: #333;
    font-size: 36px;
    margin-top: 50px;
    }
h1 404 Not Found
p ไม่พบหน้าที่คุณกำลังเรียกใช้งาน
