doctype html
head
  meta(charset='utf-8')
  title
    | &#xE07;&#xE32;&#xE19;&#xE41;&#xE19;&#xE30;&#xE41;&#xE19;&#xE27;
    | &#xE27;&#xE34;&#xE17;&#xE22;&#xE32;&#xE25;&#xE31;&#xE22;&#xE2D;&#xE32;&#xE0A;&#xE35;&#xE27;&#xE28;&#xE36;&#xE01;&#xE29;&#xE32;&#xE2A;&#xE38;&#xE1E;&#xE23;&#xE23;&#xE13;&#xE1A;&#xE38;&#xE23;&#xE35;
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  meta(content='Free HTML Templates' name='keywords')
  meta(content='Free HTML Templates' name='description')
  // Favicon
  link(href='img/favicon.ico' rel='icon')
  // Google Web Fonts
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap' rel='stylesheet')
  // Font Awesome
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css' rel='stylesheet')
  // Libraries Stylesheet
  link(href='lib/owlcarousel/assets/owl.carousel.min.css' rel='stylesheet')
  link(href='lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap' rel='stylesheet')
  // Customized Bootstrap Stylesheet
  link(href='css/style.css' rel='stylesheet')
style.
  body {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  }
// Topbar Start
.container-fluid.bg-light.pt-3.d-none.d-lg-block
  .container
    .row
      .col-lg-6.text-center.text-lg-left.mb-2.mb-lg-0
        .d-inline-flex.align-items-center
          p
            i.fa.fa-envelope.mr-2
            | spvcinfo@spvc.ac.th
          p.text-body.px-3 |
          p
            i.fa.fa-phone-alt.mr-2
            | 0-3551-1355
      .col-lg-6.text-center.text-lg-right
        .d-inline-flex.align-items-center
          a.text-primary.px-3(href='')
            i.fab.fa-facebook-f
          a.text-primary.px-3(href='')
            i.fab.fa-twitter
          a.text-primary.px-3(href='')
            i.fab.fa-linkedin-in
          a.text-primary.px-3(href='')
            i.fab.fa-instagram
          a.text-primary.pl-3(href='')
            i.fab.fa-youtube
// Topbar End
// Navbar Start
.container-fluid.position-relative.nav-bar.p-0
  .container-lg.position-relative.p-0.px-lg-3(style='z-index: 9;')
    nav.navbar.navbar-expand-lg.bg-light.navbar-light.shadow-lg.py-3.py-lg-0.pl-3.pl-lg-5
      img(src='img/spvc logo.png' width='50' height='50')
      a.navbar-brand(href='')
        h1.m-0.text-primary
          span.text-dark
          | &#xE07;&#xE32;&#xE19;&#xE41;&#xE19;&#xE30;&#xE41;&#xE19;&#xE27;
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse')
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse.justify-content-between.px-3
        .navbar-nav.ml-auto.py-0
          a.nav-item.nav-link.active(href='index') &#xE2B;&#xE19;&#xE49;&#xE32;&#xE41;&#xE23;&#xE01;
          .nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown') &#xE28;&#xE34;&#xE29;&#xE22;&#xE4C;&#xE40;&#xE01;&#xE48;&#xE32;
            .dropdown-menu.border-0.rounded-0.m-0
              a.dropdown-item(href='stex') &#xE28;&#xE34;&#xE29;&#xE22;&#xE4C;&#xE40;&#xE01;&#xE48;&#xE32;&#xE14;&#xE35;&#xE40;&#xE14;&#xE48;&#xE19;
              a.dropdown-item(href='stsearch') &#xE02;&#xE49;&#xE2D;&#xE21;&#xE39;&#xE25;&#xE28;&#xE34;&#xE29;&#xE22;&#xE4C;&#xE40;&#xE01;&#xE48;&#xE32;
              a.dropdown-item(href='stadd') &#xE40;&#xE1E;&#xE34;&#xE48;&#xE21;&#xE02;&#xE49;&#xE2D;&#xE21;&#xE39;&#xE25;&#xE28;&#xE34;&#xE29;&#xE22;&#xE4C;&#xE40;&#xE01;&#xE48;&#xE32;
          a.nav-item.nav-link(href='/stsearch#Contact') &#xE15;&#xE34;&#xE14;&#xE15;&#xE48;&#xE2D;
          a.nav-item.nav-link(href='login') &#xE40;&#xE02;&#xE49;&#xE32;&#xE2A;&#xE39;&#xE48;&#xE23;&#xE30;&#xE1A;&#xE1A;
// Navbar End
// Header Start
.container-fluid.page-header
  .container
    .d-flex.flex-column.align-items-center.justify-content-center(style='min-height: 400px')  
// Header End
form(action='/stsearch' method='post')
  .container-fluid.booking.mt-5.pb-5
    .container.pb-5
      .bg-light.shadow(style='padding: 30px;')
        .row.align-items-center(style='min-height: 60px;')
          .col-md-10
            .row
              .col-md-3
                .mb-3.mb-md-0
                  select.custom-select.px-4(name='yearGraduation' style='height: 47px;')
                    option(selected='' value='') ปีที่จบการศึกษา
                    option(value='2566') 2566
                    option(value='2565') 2565
                    option(value='2564') 2564
                    option(value='2563') 2563
              .col-md-3
                .mb-3.mb-md-0
                  select.custom-select.px-4(name='department' style='height: 47px;')
                    option(value='') แผนกวิชา
                    option(value='วิชาการบัญชี') วิชาการบัญชี
                    option(value='วิชาการเลขานุการ') วิชาการเลขานุการ
                    option(value='วิชาการตลาด') วิชาการตลาด
                    option(value='วิชาธุระกิจค้าปลีก') วิชาธุระกิจค้าปลีก
                    option(value='วิชาคอมพิวเตอร์ธุรกิจ') วิชาคอมพิวเตอร์ธุรกิจ
                    option(value='วิชาคอมพิวเตอร์โปรแกรมเมอร์') วิชาคอมพิวเตอร์โปรแกรมเมอร์
                    option(value='วิชาคอมพิวเตอร์กราฟิก') วิชาคอมพิวเตอร์กราฟิก
                    option(value='วิชาการออกแบบ') วิชาการออกแบบ
                    option(value='วิชาการโรงแรม') วิชาการโรงแรม
                    option(value='วิชาการท่องเที่ยว') วิชาการท่องเที่ยว
                    option(value='วิชาอาหารและโภชนาการ') วิชาอาหารและโภชนาการ
                    option(value='วิชาผ้าและสิ่งทอ') วิชาผ้าและสิ่งทอ
                    option(value='วิชาคหกรรม') วิชาคหกรรม
              .col-md-6
                .mb-6.mb-md-0
                  input.form-control.p-4(type='text' name='firstName' placeholder='ชื่่อศิษย์เก่าที่ต้องการค้นหา')
          .col-md-2
            button.btn.btn-primary.btn-block(type='submit' style='height: 47px; margin-top: -2px;') ค้นหา
.tb
  h2 ผลการค้นหา
  table
    thead
      tr
        th ชื่อ - นามสกุล
        th แผนกวิชา
        th ปีที่จบการศึกษา
    tbody
      each val in data
        tr
          td= val.firstName + " " + val.lastName
          td= val.department
          td= val.yearGraduation
// Footer Start
.container-fluid.bg-dark.text-white-50.py-5.px-sm-3.px-lg-5(style='margin-top: 90px;')
  .row.pt-5
    .col-lg-2
    .col-lg-3.col-md-6.mb-5
      a.navbar-brand(href='')
        h3.text-primary
          span.text-white วิทยาลัยอาชีวศึกษาสุพรรณบุรี
      p
        | ผลิตและพัฒนากำลังคนอาชีวศึกษา
      p 
        | ด้านธุรกิจและบริการตามคุณวุฒิวิชาชีพ
    .col-lg-3.col-md-6.mb-5
    .col-lg-3.col-md-6.mb-5
      h5.text-white.text-uppercase.mb-4(style='letter-spacing: 5px;')#Contact ติดต่อเรา
      p
        | ที่อยู่ : 279 ถ.พระพันวษา ต.ท่าพี่เลี้ยง อ.เมือง จ.สุพรรณบุรี 72000
      p
        | โทร : 0-3551-1355
      p
        | แฟกซ์ : 0-3552-4022  
      p
        | อีเมล : spvc.info@spvc.ac.th
      h6.text-white.text-uppercase.mt-4.mb-3(style='letter-spacing: 5px;') Follow Us
      .d-flex.justify-content-start
        a.btn.btn-outline-primary.btn-square.mr-2(href='#')
          i.fab.fa-twitter
        a.btn.btn-outline-primary.btn-square.mr-2(href='#')
          i.fab.fa-facebook-f
        a.btn.btn-outline-primary.btn-square.mr-2(href='#')
          i.fab.fa-linkedin-in
        a.btn.btn-outline-primary.btn-square(href='#')
          i.fab.fa-instagram
.container-fluid.bg-dark.text-white.border-top.py-4.px-sm-3.px-md-5(style='border-color: rgba(256, 256, 256, .1) !important;')
  .row
    .col-lg-6.text-center.text-md-left.mb-3.mb-md-0
      p.m-0.text-white-50
        | &copy Copyright งานศูนย์ข้อมูลสารสนเทศ วิทยาลัยอาชีวศึกษาสุพรรณบุรี
// Footer End
// Back to Top
a.btn.btn-lg.btn-primary.btn-lg-square.back-to-top(href='#')
  i.fa.fa-angle-double-up
// JavaScript Libraries
script(src='https://code.jquery.com/jquery-3.4.1.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js')
script(src='lib/easing/easing.min.js')
script(src='lib/owlcarousel/owl.carousel.min.js')
script(src='lib/tempusdominus/js/moment.min.js')
script(src='lib/tempusdominus/js/moment-timezone.min.js')
script(src='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js')
// Contact Javascript File
script(src='mail/jqBootstrapValidation.min.js')
script(src='mail/contact.js')
// Template Javascript
script(src='js/main.js')
